{% ckan_extends %}

{% block resource_actions_inner %}
  <script>
  window.onload = function() {
  console.log("Window is loaded");
    $("#docspace").click(function(){
      console.log('clicked');

      var data1 = {'docspace_viewid': "{%if res.docspace_viewid%}{{res.docspace_viewid}}{%endif%}" }
      {%if res.docspace_viewid%}
      var data = {"docspace_viewid": "{{res.docspace_viewid}}"}
      {%else%}
      var data = {"docspace_viewid": " "}
      {%endif%}
      $.ajax({
        type: "POST",
        url: "https://woods.linkeddata.es/api/3/action/docspace_update",
        data: data,
        success: function(data,textStatus,jqXHR ){console.log('success');alert("success"); console.log(data)}
        //dataType: dataType
      });
    });

}

  </script>

  {%if res.docspace_token %}
      <li class="btn btn-default">Has token {{res.docspace_token}}</li>
  {%else%}
      <li class="btn btn-default">No Token </li>
  {%endif%}
  {%if res.docspace_viewid %}
    <li class="btn btn-default">ViewID: {{res.docspace_viewid}}</li>
  {%endif%}
<li id="docspace" class="btn btn-default">DocSpace 1</li>
{% if h.check_access('package_update', {'id':pkg.id }) and not is_activity_archive %}
  <li>{% link_for _('Manage'), named_route=pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id, class_='btn btn-default', icon='wrench' %}</li>
{% endif %}
{% if res.url and h.is_url(res.url) %}
  <li>
    <div class="btn-group">
    <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
      {% if res.resource_type in ('listing', 'service') %}
        <i class="fa fa-eye"></i> {{ _('View') }}
      {% elif  res.resource_type == 'api' %}
        <i class="fa fa-key"></i> {{ _('API Endpoint') }}
      {% elif not res.has_views and not res.url_type == 'upload' %}
        <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
      {% else %}
        <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download') }}
      {% endif %}
    </a>
    {% block download_resource_button %}
      {% if res.datastore_active %}
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
    <ul class="dropdown-menu">
      <li>
        <a href="{{ h.url_for('datastore.dump', resource_id=res.id, bom=True) }}"
          target="_blank"><span>CSV</span></a>
        <a href="{{ h.url_for('datastore.dump', resource_id=res.id, format='tsv', bom=True) }}"
          target="_blank"><span>TSV</span></a>
        <a href="{{ h.url_for('datastore.dump', resource_id=res.id, format='json') }}"
          target="_blank"><span>JSON</span></a>
        <a href="{{ h.url_for('datastore.dump', resource_id=res.id, format='xml') }}"
          target="_blank"><span>XML</span></a>
      </li>
    </ul>
      {% endif %}
    {% endblock %}
    </div>
  </li>
{% endif %}
{% endblock %}
